$container-width: 1520px;
$container-padding: 5.2vw;
$section-border-radius: 2.6vw;
$section-background: #f0f0f0;

// header:
$header-padding-tb: 2vw;
$header-search-height: 2.34375vw;
$header-text-color: #82858d;
$header-btn-background: #1f7b95;
$header-mob-menu-gap: 18px;

//hero-banner:
$hero-height: 43.33vw;

//slider:
// $slider-gap: 1.75vw;
$slider-control-height: 2.7vw;
